<%- include("./components/header") %>

<div class="header">
    <h1>Matrix Master Community </h1>
</div>
<div class="Login" >
    <form class="logIn_form"> 
        <div class="form-group">
            <h5>Login</h5>
            <br><br>
            <input type="email" name="email"  class="form-control"  aria-describedby="emailHelp" placeholder="Email" required>
            <div class="emailIn errorIn"></div>
        </div>
        <div class="form-group">
            <input type="password" name="password" class="form-control"  placeholder="Password" required>
            <div class="passwordIn errorIn"></div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
<div  class="Login">
    <form class="signUp_form"> 
        <div class="form-group">
            <h5>Sign Up</h5>
            <br><br>
            <!-- <input type="text" name="username"  class="form-control"  aria-describedby="emailHelp" placeholder="Username" > -->
        </div>
        <div class="form-group">
            <input type="email" name="email" class="form-control"  placeholder="Email">
            <div class="email error"></div>
        </div>
        <div class="form-group">
            <input type="password" name="password"  class="form-control"  aria-describedby="emailHelp" placeholder="Password" >
            <div class="password error"></div>
        </div>
        <!-- <div class="form-group">
            <input type="password" name="password" class="form-control"  placeholder="Repeat Password">
            <div class="password error"></div> -->
        <!-- </div> -->
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

<script>
    /////////////////// sign up ////////////
    const form_up = document.querySelector('.signUp_form');
    const emailError = document.querySelector('.email.error');
    const passwordError = document.querySelector('.password.error');

    form_up.addEventListener('submit', async (e) => {
        e.preventDefault();

        /// reset error
        emailError.textContent = '';
        passwordError.textContent = '';

        // get values
        const email = form_up.email.value;
        const password = form_up.password.value;

        try {
            const res = await fetch('/auth', { 
            method: 'POST', 
            body: JSON.stringify({ email, password }),
            headers: {'Content-Type': 'application/json'}
            });
            
            const data = await res.json();
            console.log(data);
            if (data.errors) {
                emailError.textContent = data.errors.email;
                passwordError.textContent = data.errors.password;
            }
            if (data.user) {
                location.assign('/');
            }

        }
        catch (err) {
            console.log(err);
        }
    });




    /////////////////// login ////////////
    const form_in = document.querySelector('.logIn_form');
    const emailErrorIn = document.querySelector('.emailIn.errorIn');
    const passwordErrorIn = document.querySelector('.passwordIn.errorIn');

    form_in.addEventListener('submit', async (e) => {
        e.preventDefault();

        /// reset error
        emailErrorIn.textContent = '';
        passwordErrorIn.textContent = '';
    

        // get values
        const email = form_in.email.value;
        const password = form_in.password.value;
        
        try {
            const res = await fetch('/auth2', { 
            method: 'POST', 
            body: JSON.stringify({ email, password }),
            headers: {'Content-Type': 'application/json'}
            });
            const data = await res.json();
            console.log(data);
            if (data.errors) {
                emailErrorIn.textContent = data.errors.email;
                passwordErrorIn.textContent = data.errors.password;
            }
            if (data.user) {
                console.log('i am here');
                // location.assign('/auth');
            }
        }
        catch (err) {
            console.log(err);
        }
    });

</script>
<%- include("./components/footer") %>